# 复制为 .env 并填入你的值： cp .env.example .env && nano .env
HOST=127.0.0.1
PORT=4321
DB_FILE_NAME=./data/mizuki.db
BETTER_AUTH_SECRET=请填64位hex_无等于号_示例_用_openssl_rand_-hex_32_生成
BETTER_AUTH_URL=https://vvvvvv.bigsb.cn
GITHUB_CLIENT_ID=Ov23li...
GITHUB_CLIENT_SECRET=xxx
